{% comment %} Simplified breadcrumb using Tailwind utilities. {% endcomment %}

{% unless template == 'index' %}
  <nav role="navigation" aria-label="breadcrumbs" class="text-sm text-gray-600">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex items-center gap-2">
        <a href="{{ routes.root_url }}" class="text-gray-500 hover:text-gray-700" title="Home">Home</a>

        {% comment %} Separator {% endcomment %}
        <svg class="w-3 h-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>

        {% if template.name == 'product' %}
          {% assign current_collection = nil %}
          {% if collection %}
            {% assign current_collection = collection %}
          {% elsif product and product.collections.size > 0 %}
            {% assign current_collection = product.collections.first %}
          {% endif %}

          {% if current_collection %}
            <a href="/collections/{{ current_collection.handle }}" class="text-gray-500 hover:text-gray-700">{{ current_collection.title }}</a>
            <svg class="w-3 h-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/></svg>
          {% endif %}

          <span class="text-gray-700 font-medium">{{ product.title }}</span>

        {% elsif template.name == 'collection' and collection.handle %}
          <span class="text-gray-700 font-medium">{{ collection.title }}</span>

        {% elsif template.name == 'blog' %}
          <span class="text-gray-700 font-medium">{{ blog.title }}</span>

        {% elsif template == 'article' %}
          <a href="{{ blog.url }}" class="text-gray-500 hover:text-gray-700">{{ blog.title }}</a>

        {% elsif template contains 'page' %}
          <span class="text-gray-700 font-medium">{{ page.title }}</span>

        {% elsif template contains 'search' %}
          <span class="text-gray-700 font-medium">Search</span>

        {% else %}
          <span class="text-gray-700 font-medium">{{ page_title }}</span>
        {% endif %}
      </div>
    </div>
  </nav>
{% endunless %}
