<ul>
  {%- for p in properties -%}

    {%- if p.first contains 'fixing' or p.first == 'fixing_id' or p.first == 'fixing id' -%}
      {%- continue -%}
    {%- endif -%}

    {%- assign property_first_char = p.first | slice: 0 -%}

    {%- if p.last != blank and property_first_char != '_' -%}
      <li
        class="flex flex-col min-w-0 m-cart-item__property m:text-sm"
        data-cart-item-property
      >
        <span data-cart-item-property-name>{{ p.first }} : </span>

        <span data-cart-item-property-value class="truncate block">
          {{ p.last }}
        </span>
      </li>
    {%- endif -%}

    {%- if p.first contains 'optionSetId' -%}
      <li class="m-cart-item__property tpo-product-option">
        <div
          data-edit-product-option="{{ p.last }}"
          data-item-key="{{ item.key }}"
          data-product-id="{{ item.product.id }}"
          data-variant-id="{{ item.id }}"
          data-item-quantity="{{ item.quantity }}"
          data-customizer-item-key="{{ item.properties['_itemKey'] }}"
        ></div>
      </li>
    {%- endif -%}

  {%- endfor -%}
</ul>