<div class="quotify-btns">
  <button
    data-quotify
    data-product="{{ product | json | escape }}"
    data-checksum="{{ product | json | prepend: quotify_shop_secret | sha256 }}"
    data-shop="{{ shop.metafields.quotify.shop_id }}"
    data-variant="{{ product.selected_or_first_available_variant.id }}"
    type="button"
    class="btn primary-cart-button !py-1"
  >
    {% render 'icon-svg-circle-plus', classes: 'inline-block mr-1 size-6' %}
    <span>Add to quote</span>
  </button>

  <button
    style=""
    data-quotify-cart
    data-shop="{{ shop.metafields.quotify.shop_id }}"
    type="button"
    class="btn outline-button"    
  >
    View quote
  </button>
</div>
<style>
  .quotify-btns {
    display: flex;
    gap: 24px;
    padding: 24px 0;
    position: relative;
  }
  .quotify-btns button > * {
    pointer-events: none;
  }
</style>
