{% comment %} Variant stock status pill — shows `variant.metafields.custom.stock_status` {% endcomment %}
{% assign size_class = 'size-4' %}
{% assign text_class = 'text-sm' %}
{% if layout == 'search' %}
  {% assign text_class = 'text-xs' %}
{% endif %}
<div id="product-stock-badge" class="text-gray-600">
  {% assign _variant = variant %}
  {% if _variant == null and product %}
    {% assign _variant = product.selected_or_first_available_variant %}
  {% endif %}

  {%- assign status = nil -%}
  {%- if _variant and _variant.metafields and _variant.metafields.custom and _variant.metafields.custom.stock_status -%}
    {%- assign status = _variant.metafields.custom.stock_status.value | default: _variant.metafields.custom.stock_status -%}
  {%- elsif product and product.metafields and product.metafields.inventory and product.metafields.inventory.stock_status -%}
    {%- assign status = product.metafields.inventory.stock_status.value | default: product.metafields.inventory.stock_status -%}
  {%- endif -%}

  {% if status %}
    <span class="flex py-1 text-sm gap-1 items-center ">
      {% if status == 'Back Order' or status == 'Out of Stock' or status == 'Low Stock' %}
        {% capture check_class %}{{ size_class }} text-yellow-700{% endcapture %}
        {% render 'icon-svg-circle-x', class: check_class, stroke_width: 1.5 %}
        <span class="text-yellow-700 {{ text_class }}">{{ status }}</span>
      {% else %}
        {% capture check_class %}{{ size_class }} text-green-700{% endcapture %}
        {% render 'icon-svg-circle-check', class: check_class, stroke_width: 1.5 %}
        <span class="text-green-700 {{ text_class }}">{{ status }}</span>
      {% endif %}
    </span>
  {% else %}
    <span class="flex py-1 text-sm gap-1 items-center ">
      {% capture check_class %}{{ size_class }} text-green-700{% endcapture %}
      {% render 'icon-svg-circle-check', class: check_class, stroke_width: 1.5 %}
      <span class="text-green-700 {{ text_class }}">In Stock</span>
    </span>
  {% endif %}
</div>
