{% comment %} Allow overriding hover classes via `hover_class` variable passed into the snippet {% endcomment %}
{% liquid
  assign class = class | default: 'hover:text-primary'
  assign layout = layout | default: 'base'
  assign label = 'Quotes'
  if layout == 'card'
    assign class = 'flex items-center justify-center rounded-full size-10 hover:text-white hover:bg-black text-black bg-primary-yellow'
    assign label =  'Add to quote'
  endif
%}
<button
    data-quotify
    data-product="{{ product | json | escape }}"
    data-checksum="{{ product | json | prepend: quotify_shop_secret | sha256 }}"
    data-shop="{{ shop.metafields.quotify.shop_id }}"
    data-variant="{{ product.selected_or_first_available_variant.id }}"
    type="button"
      class="p-1 transition-all duration-200 ease-in-out {{class }} group m-tooltip--top icon-tooltip-btn"
  >
    
    <span class="inline-flex relative">{% render 'icon-svg-clipboard', class: 'size-6 cursor-pointer' %}
        <span aria-hidden="true" class="m-tooltip__content hidden absolute top-full mt-2 left-1/2 bg-white text-black text-xs rounded-xl px-3 py-2 whitespace-nowrap shadow z-50">
        {{ label }}
      </span>
    </span>
  </button>

  