{% comment %} Allow overriding hover classes via `hover_class` variable passed into the snippet {% endcomment %}
{% assign class = class | default: 'hover:text-primary' %}
<button
    data-quotify
    data-product="{{ product | json | escape }}"
    data-checksum="{{ product | json | prepend: quotify_shop_secret | sha256 }}"
    data-shop="{{ shop.metafields.quotify.shop_id }}"
    data-variant="{{ product.selected_or_first_available_variant.id }}"
    type="button"
    class="p-1 transition-all duration-200 ease-in-out {{class }} group m-tooltip--top"
  >
    <span class="inline-flex relative">{% render 'icon-svg-clipboard', class: 'size-6 cursor-pointer' %}
      <span aria-hidden="true" class="m-tooltip__content hidden group-hover:block group-focus:block absolute top-full mt-2 left-1/2 bg-white text-black text-xs rounded-xl px-3 py-2 whitespace-nowrap shadow z-50">
        Quotes
      </span>
    </span>
  </button>