<html>
  <head>
    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}

    {% comment %} Use the store-hosted font via Shopify CDN and set defaults {% endcomment %}

    {% render 'font-face' %}
    {{ 'glide.core.min.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    {{ 'esafety-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {%- if template == 'product' -%}
      {{ 'product.css' | asset_url | stylesheet_tag: preload: true }}
    {%- endif -%}
    {% render 'rapid-search-settings' %}
  </head>
  <body class="font-normal">
    <div class="relative">
      {% sections 'header-group' %}
      <section class="top-bar hidden container mx-auto px-4 md:flex py-1.5 transition-all duration-500">
        {% render 'top-navbar' %}
      </section>
      <header id="site-header" class="site-header transition-all duration-300">
        <div class="bg-black px-2 lg:py-2">
          <div class="container flex items-center justify-between m-auto">
            {% render 'header' %}
            <!-- Cart Icon -->
            <div class="w-8">{% section 'cart-count' %}</div>
          </div>
        </div>
        {% render 'navbar' %}
      </header>

      <!-- spacer to prevent layout jump when header becomes fixed -->
      <div id="header-spacer" aria-hidden="true" style="display:none"></div>
    </div>
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'esaftey-cart-drawer' %}
    <script defer src="{{ 'glide.min.js' | asset_url }}"></script>
    {% if settings.use_minified_assets %}
      {%- if template contains 'product' -%}
        <script defer src="{{ 'product-details.min.js' | asset_url }}"></script>
      {%- endif -%}
      <script defer src="{{ 'esafety-drawer.min.js' | asset_url }}"></script>

      <script defer src="{{ 'theme.min.js' | asset_url }}"></script>
      <script defer src="{{ 'cart-item-control.min.js' | asset_url }}"></script>
      <script defer src="{{ 'accordion-tab.min.js' | asset_url }}"></script>
      <script defer src="{{ 'navigation.min.js' | asset_url }}"></script>
    {% else %}
      {%- if template contains 'product' -%}
        <script defer src="{{ 'product-details.js' | asset_url }}"></script>
      {%- endif -%}
      <script defer src="{{ 'esafety-drawer.js' | asset_url }}"></script>
      <script defer src="{{ 'esafety-cart-actions.js' | asset_url }}"></script>
      <script defer src="{{ 'theme.js' | asset_url }}"></script>
      <script defer src="{{ 'cart-item-control.js' | asset_url }}"></script>
      <script defer src="{{ 'accordion-tab.js' | asset_url }}"></script>
      <script defer src="{{ 'navigation.js' | asset_url }}"></script>
    {% endif %}
    {% sections 'footer-group' %}
  </body>
</html>
