<html>
  <head>
    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="8XLKOy2SDbX3fFsPtBxHwpJytlw3ic3tWVTBf80ZZlg">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "eSafety Supplies",
        "image": "https://esafetysupplies.com.au/cdn/shop/files/pixelcut-export_7_b8ebcbee-2a58-4ceb-8009-1f0706b0c7a8.png?v=1736227958&width=500",
        "@id": "",
        "url": "https://esafetysupplies.com.au/",
        "telephone": "1300 291 700",
        "priceRange": "00",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "37 Bentley St",
          "addressLocality": "Wetherill Park NSW",
          "addressRegion": "NSW",
          "postalCode": "2164",
          "addressCountry": "AU"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -33.8448213,
          "longitude": 150.8830471
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
            "opens": "07:00",
            "closes": "18:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Saturday", "Sunday"],
            "opens": "08:00",
            "closes": "12:00"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/eSafetySupplies/",
          "https://www.instagram.com/e.safetysupplies/",
          "https://www.youtube.com/channel/UCWuWMg_2P1z8ySlptMp5pMQ",
          "https://www.linkedin.com/company/esafetysupplies",
          "https://esafetysupplies.com.au/"
        ]
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organisation",
        "name": "eSafety Supplies",
        "url": "https://esafetysupplies.com.au/",
        "logo": "https://esafetysupplies.com.au/cdn/shop/files/pixelcut-export_7_b8ebcbee-2a58-4ceb-8009-1f0706b0c7a8.png?v=1736227958&width=500",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "1300 291 700",
          "contactType": "customer service",
          "availableLanguage": "en"
        },
        "sameAs": [
          "https://www.facebook.com/eSafetySupplies/",
          "https://www.instagram.com/e.safetysupplies/",
          "https://esafetysupplies.com.au/",
          "https://www.linkedin.com/company/esafetysupplies",
          "https://www.youtube.com/channel/UCWuWMg_2P1z8ySlptMp5pMQ"
        ]
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Review",
        "itemReviewed": {
          "@type": "Organization",
          "image": "",
          "name": "eSafety Supplies",
          "telephone": "1300 291 700",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "37 Bentley St,",
            "addressLocality": "Wetherill Park NSW",
            "addressRegion": "NSW",
            "postalCode": "2164",
            "addressCountry": "AU"
          }
        },
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "name": "eSafety Supplies australia",
        "author": {
          "@type": "Person",
          "name": "John McHugh"
        },
        "reviewBody": "I highly recommend Angel from eSafety Supplies! The customer service was absolutely outstanding — Angel went above and beyond to help me with my order and made the whole process smooth and easy. It’s rare to come across someone so professional, friendly, and genuinely helpful. I’ll definitely be making more purchases in the future. Thanks again, Angel!",
        "publisher": {
          "@type": "Organization",
          "name": "John McHugh"
        }
      }
    </script>

    <!-- Google Tag Manager -->

    <script>
      function loadGTM() {
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WT8Q95B');
      }
      if ('requestIdleCallback' in window) {
        requestIdleCallback(() => loadGTM());
      } else {
        setTimeout(loadGTM, 3000); // Load after 1s
      }
    </script>
    <!-- End Google Tag Manager -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2509798, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {%- if settings.use_favicon == true and settings.favicon != blank -%}
      <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {{ content_for_header }}

    {% comment %} Use the store-hosted font via Shopify CDN and set defaults {% endcomment %}

    {% render 'font-face' %}
    {{ 'glide.core.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'esafety-drawer.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'global.css' | asset_url | stylesheet_tag: preload: true }}
    {%- if template == 'product' -%}
      {{ 'product.css' | asset_url | stylesheet_tag: preload: true }}
    {%- endif -%}
  </head>
  <body class="font-normal static">
    {% render 'global-spinner' %}
    <div class="sticky top-0 z-50 bg-white">
      {% sections 'header-group' %}
      <section class="top-bar hidden container mx-auto px-4 md:flex py-1.5 transition-all duration-500">
        {% render 'top-navbar' %}
      </section>
      <header id="site-header" class="site-header transition-all duration-300">
        <div class="bg-black px-2 lg:py-2">
          <div class="container flex items-center justify-between m-auto">
            {% render 'header' %}
            <!-- Cart Icon -->
            <div class="w-8">{% section 'cart-count' %}</div>
          </div>
        </div>
        {% render 'navbar' %}
      </header>

      <!-- spacer to prevent layout jump when header becomes fixed -->
      <div id="header-spacer" aria-hidden="true" style="display:none"></div>
    </div>

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'esaftey-cart-drawer' %}
    <script defer src="{{ 'glide.min.js' | asset_url }}" defer="defer"></script>
    {% if settings.use_minified_assets %}
      {%- if template contains 'product' -%}
        <script defer src="{{ 'product-details.min.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
      <script defer src="{{ 'esafety-drawer.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'esafety-cart-actions.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'cart-item-control.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'accordion-tab.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'navigation.min.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'predictive-search.min.js' | asset_url }}" defer="defer"></script>
    {% else %}
      {%- if template contains 'product' -%}
        <script defer src="{{ 'product-details.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
      <script defer src="{{ 'esafety-drawer.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'esafety-cart-actions.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'cart-item-control.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'accordion-tab.js' | asset_url }}" defer="defer"></script>
      <script defer src="{{ 'navigation.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {% sections 'footer-group' %}
  </body>

  {% comment %} PODIUM CODE FOR CHAT ON HOME PAGE {% endcomment %}
  <script defer="defer">
    window.addEventListener('scroll', function loadPodiumWidget() {
      if (window.scrollY > 300) {
        // Adjust this value if needed
        window.removeEventListener('scroll', loadPodiumWidget); // Remove listener after loading
        var script = document.createElement('script');
        script.src = 'https://connect.podium.com/widget.js#ORG_TOKEN=45d615a7-fd5b-4202-96bb-1a277644e6a7';
        script.id = 'podium-widget';
        script.setAttribute('data-organization-api-token', '45d615a7-fd5b-4202-96bb-1a277644e6a7');
        script.setAttribute('data-styles', 'bottom: -10px;');
        script.setAttribute('data-styles-phone', 'bottom: 25px;');
        script.defer = true;
        document.head.appendChild(script);
      }
    });
  </script>

  {% comment %} PREEZIE CODE FOR AUTOMATIC PODIUM CHAT {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get the current URL path
      const path = window.location.pathname;

      // Check if the URL path matches your trigger
      if (path === '/PodiumWebChat.open' || path === '/chat') {
        // Make sure Podium Web Chat is loaded before trying to open it
        const tryOpenChat = () => {
          if (window.PodiumWebChat && typeof PodiumWebChat.open === 'function') {
            PodiumWebChat.open();
          } else {
            // Retry until the widget loads
            setTimeout(tryOpenChat, 500);
          }
        };
        tryOpenChat();
      }
    });
  </script>
</html>
