<html>
  <head>
    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}

    {% comment %} Use the store-hosted font via Shopify CDN and set defaults {% endcomment %}

      {% render 'font-face' %}
    {{ 'glide.core.min.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {%- if template == 'product' -%}
      {{ 'product.css' | asset_url | stylesheet_tag: preload: true }}
    {%- endif -%}
  </head>
  <body class="font-normal">
    {% sections 'header-group' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    <script defer src="{{ 'glide.min.js' | asset_url }}"></script>
    {%- if template == 'product' -%}
      <script defer src="{{ 'product-details.js' | asset_url }}"></script>
    {%- endif -%}
    <script defer src="{{ 'cart.js' | asset_url }}"></script>
    <script defer src="{{ 'theme.js' | asset_url }}"></script>
    <script defer src="{{ 'cart-item-control.js' | asset_url }}"></script>
    {% sections 'footer-group' %}
  </body>
</html>
