<html>
  <head>
    {{ content_for_header }}

    {% comment %}
      Load base font from Shopify and set as CSS variable for Tailwind
    {% endcomment %}
    {% assign font_handle = settings.type_base_font | default: 'poppins_n4' %}

    <style>
      :root {
        /* Default font for body and Tailwind classes */
        --default-font-family: '{{ font_handle.family | default: "Poppins" }}', sans-serif;
      }

      /* Map Tailwind font weight classes to Shopify font files */
      .font-normal { font-family: '{{ font_handle.family }} N4', sans-serif !important; font-weight: 400; }
      .font-semibold { font-family: '{{ font_handle.family }} N6', sans-serif !important; font-weight: 600; }
      .font-bold { font-family: '{{ font_handle.family }} N7', sans-serif !important; font-weight: 700; }
    </style>
    {{ 'glide.core.min.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="font-normal">
    {% section 'announcement-bar' %}
    {% section 'top-navbar' %}
    {% section 'header' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    <script defer src="{{ 'glide.min.js' | asset_url }}"></script>
    <!--<script defer src="{{ 'theme.js' | asset_url }}"></script>-->
  </body>
</html>
