<div class="container mx-auto px-4 py-8">
  {% assign first = section.settings.first_column_width | default: 50 %}
  {% assign gap = section.settings.gap | default: 16 %}
  {% assign rem = 100 | minus: first %}
  {% assign other = rem | divided_by: 2 %}

  <div class="flex flex-col md:flex-row items-stretch" style="gap: {{ gap }}px;">
    <!-- First column -->
    <div class="w-full md:flex-shrink-0" style="flex: 0 0 {{ first }}%;">
      {% if section.settings.image_1 %}
        {% if section.settings.collection_1 %}
          <a
            href="{{ section.settings.collection_1.url }}"
            class="block w-full overflow-hidden relative h-[280px] md:h-full"
          >
        {% else %}
          <div class="block w-full overflow-hidden relative h-[280px] md:h-full">
        {% endif %}
        {% render 'responsive-image', image: section.settings.image_1, image_class: 'w-full h-full object-cover' %}
        {% if section.settings.button_text_1 != blank %}
          <span class="absolute  w-full text-center bottom-4">
            <span class="inline-block btn primary-button transition">
              {{ section.settings.button_text_1 }}
            </span>
          </span>
        {% endif %}
        {% if section.settings.collection_1 %}
          </a>
        {% else %}
          </div>
        {% endif %}
      {% endif %}
    </div>

    <!-- Second column (stacked top & bottom) -->
    <div
      class="w-full md:flex-shrink-0 flex flex-col justify-between"
      style="flex: 0 0 {{ other }}%; gap: {{ gap }}px;"
    >
      {% if section.settings.image_2 %}
        {% if section.settings.collection_2 %}
          <a href="{{ section.settings.collection_2.url }}" class="block overflow-hidden relative h-[280px] md:h-auto">
        {% else %}
          <div class="block overflow-hidden relative h-[280px] md:h-auto">
        {% endif %}
        {% render 'responsive-image', image: section.settings.image_2, image_class: 'w-full h-full object-cover' %}
        {% if section.settings.button_text_2 != blank %}
          <span class="absolute w-full text-center bottom-4">
            <span class="inline-block btn primary-button transition">
              {{ section.settings.button_text_2 }}
            </span>
          </span>
        {% endif %}
        {% if section.settings.collection_2 %}
          </a>
        {% else %}
          </div>
        {% endif %}
      {% endif %}

      {% if section.settings.image_3 %}
        {% if section.settings.collection_3 %}
          <a href="{{ section.settings.collection_3.url }}" class="block overflow-hidden relative h-[280px] md:h-auto">
        {% else %}
          <div class="block overflow-hidden relative h-[280px] md:h-auto">
        {% endif %}
        {% render 'responsive-image', image: section.settings.image_3, image_class: 'w-full h-full object-cover' %}
        {% if section.settings.button_text_3 != blank %}
          <span class="absolute  w-full text-center bottom-4">
            <span class="inline-block btn primary-button transition">
              {{ section.settings.button_text_3 }}
            </span>
          </span>
        {% endif %}
        {% if section.settings.collection_3 %}
          </a>
        {% else %}
          </div>
        {% endif %}
      {% endif %}
    </div>

    <!-- Third column -->
    <div class="w-full md:flex-shrink-0" style="flex: 0 0 {{ other }}%;">
      {% if section.settings.image_4 %}
        {% if section.settings.collection_4 %}
          <a
            href="{{ section.settings.collection_4.url }}"
            class="block w-full overflow-hidden relative h-[280px] sm:h-[420px] md:h-full"
          >
        {% else %}
          <div class="block w-full overflow-hidden relative h-[280px] sm:h-[420px] md:h-full">
        {% endif %}
        {% render 'responsive-image', image: section.settings.image_4, image_class: 'w-full h-full object-cover' %}
        {% if section.settings.button_text_4 != blank %}
          <span class="absolute  w-full text-center bottom-4">
            <span class="inline-block btn primary-button transition">
              {{ section.settings.button_text_4 }}
            </span>
          </span>
        {% endif %}
        {% if section.settings.collection_4 %}
          </a>
        {% else %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grid Collection List",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "first_column_width",
      "label": "First column width",
      "min": 30,
      "max": 70,
      "step": 5,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap between images",
      "min": 0,
      "max": 40,
      "step": 4,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 40,
      "step": 4,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "First column"
    },
    {
      "type": "color",
      "id": "bg_color_img_1",
      "label": "Background color",
      "default": "#fee9a7"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button text (first column)"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Second column top"
    },
    {
      "type": "color",
      "id": "bg_color_img_2",
      "label": "Background color",
      "default": "#fee9a7"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button text (second column top)"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Second column bottom"
    },

    {
      "type": "color",
      "id": "bg_color_img_3",
      "label": "Background color",
      "default": "#fee9a7"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_3",
      "label": "Button text (second column bottom)"
    },
    {
      "type": "collection",
      "id": "collection_3",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Third column"
    },

    {
      "type": "color",
      "id": "bg_color_img_4",
      "label": "Background color",
      "default": "#fee9a7"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_4",
      "label": "Button text (third column)"
    },
    {
      "type": "collection",
      "id": "collection_4",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Grid Collection List"
    }
  ]
}
{% endschema %}
