<section id="section-{{ section.id }}" class="internal-page-banner" style="margin-top: 16px;">

  {%- assign banner_image = section.settings.background | default: settings.internal_page_banner_image -%}
  {%- assign banner_link = section.settings.banner_link | default: settings.internal_page_banner_link -%}
  {%- assign banner_new_tab = section.settings.open_in_new_tab | default: settings.internal_page_banner_new_tab -%}

  {% if banner_image != blank %}
    <div class="hidden md:block">
      <div class="mx-auto px-4" style="max-width: 1220px;">
        {% if banner_link != blank %}
          <a href="{{ banner_link }}" {% if banner_new_tab %}target="_blank" rel="noopener"{% endif %}>
        {% endif %}
        <picture>
          <img
            src="{{ banner_image | image_url: width: banner_image.width }}"
            width="{{ banner_image.width }}"
            height="{{ banner_image.height }}"
            alt="banner"
            class="w-full block"
            style="max-height: 85px; object-fit: cover;"
            aria-hidden="true"
          >
        </picture>
        {% if banner_link != blank %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

</section>

{% schema %}
{
  "name": "Single Banner",
  "tag": "section",
  "class": "internal-page-banner",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Image on desktop",
      "info": "1920 x 900px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_background",
      "label": "Image on mobile",
      "info": "800 x 600px recommended"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner link",
      "info": "Where to send visitors when they click the banner."
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open link in new tab",
      "default": false
    }
  ],

  "presets": [
    {
      "name": "Single Banner",
    }
  ],
  "locales": {
    "en": {
      "title": "Single Banner"
    }
  }
}
{% endschema %}
