{% comment %} Product Recommendation Section - carousel of recommended products {% endcomment %}
{%- assign product_id = product.id -%}
<div
  id="product-recommendation-{{ section.id }}"
  class="container mx-auto px-4 py-8 max-w-7xl product-recommendation-section my-8"
>
  <product-recommendations data-url="?product_id={{ product_id }}&section_id={{ section.id }}&&limit={{ section.settings.product_count | default: 4 }}&intent=related">
    {% if section.settings.title != blank %}
      <h4 class="text-3xl font-semibold mb-4 px-8">{{ section.settings.title }}</h4>
    {% endif %}
    <div class="product-recommendations py-4 px-8">
      {%- if recommendations.performed? -%}
        {%- if recommendations.products_count > 0 -%}
          <div class="glide" id="productRecommendationGlide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {%- for product in recommendations.products -%}
                  <li>
                    {% render 'product-card', product: product, max_tags: 2, layout: 'recommendation' %}
                  </li>
                {%- endfor -%}
              </ul>
            </div>

            <div class="glide__arrows" data-glide-el="controls">
              <!-- Previous button: uses the '<' pattern -->
              <button class="product-gallery-arrow glide__arrow glide__arrow--prev -left-10 absolute top-1/2 transform -translate-y-1/2 focus-visible:outline-none" data-glide-dir="<">{% render 'icon-svg-chevron-left', stroke-width: 2, class:'size-6' %}</button>
              <!-- Next button: uses the '>' pattern -->
              <button class="product-gallery-arrow glide__arrow glide__arrow--next -right-10 absolute top-1/2 transform -translate-y-1/2 focus-visible:outline-none" data-glide-dir=">">{% render 'icon-svg-chevron-right', stroke-width: 2, class:'size-6' %}</button>
            </div>
          </div>
          <ul></ul>

        {% else %}
          <p>No recommendations available at this time.</p>
        {% endif %}
      {% endif %}
    </div>
  </product-recommendations>
</div>

{{ 'product-recomendation.js' | asset_url | script_tag }}
{% schema %}
{
  "name": "Product recommendation",
  "settings": [
    { "type": "text", "id": "title", "label": "Title", "default": "You may also like" },
    {
      "type": "range",
      "id": "product_count",
      "label": "Number of products to fetch",
      "default": 10,
      "min": 1,
      "max": 12,
      "step": 1
    },
    { "type": "checkbox", "id": "show_ex_gst", "label": "Show ex. GST prices", "default": false }
  ],
  "blocks": [],
  "presets": [{ "name": "Product recommendation", "category": "Product" }]
}
{% endschema %}
