<section class="top-bar hidden lg:flex py-4">
    <div class="flex justify-between items-center wrapper">
        <ul class="contact-info flex gap-8">
            {% for block in section.blocks %}
              <li class="flex gap-1">
                <span class="icon bg-black w-6 flex text-white px-1 rounded-md">{{ block.settings.icon }}</span>
                {% if block.settings.type == "phone" %}
                  <a href="tel:{{ block.settings.link }}">{{ block.settings.text }}</a>
                {% elsif block.settings.type == "email" %}
                  <a href="mailto:{{ block.settings.link }}">{{ block.settings.text }}</a>
                {% else %}
                  <a href="{{ block.settings.link }}" target="_blank" rel="noopener noreferrer">
                    {{ block.settings.text }}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
        </ul>

        <nav class="navigation">
            <ul class="flex gap-4 [&>li]:border-r [&>li]:pr-2 [&>li]:last:border-r-0 [&>li]:last:pr-0">
              {% assign menu = linklists[section.settings.menu] %}
              {% if menu %}
                {% for link in menu.links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                  
                {% endfor %}
              {% else %}
                <li>No menu found.</li>
              {% endif %}
            </ul>
        </nav>


    </div>
</section>

{% schema %}
{
    "name": "Top Bar",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Select Navigation Menu",
            "default": "main-menu"
        }
    ],
    "blocks": [
        {
            "type": "contact_item_with_icon",
            "name": "Contact Item with Icon",
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon",
                    "label": "Icon SVG Snippet"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Display Text",
                    "default": "Call Us"
                },
                {
                    "type": "text",
                    "id": "link",
                    "label": "Link",
                    "default": "+1234567890"
                },
                {
                    "type": "select",
                    "id": "type",
                    "label": "Link Type",
                    "options": [
                        { "value": "phone", "label": "Phone" },
                        { "value": "email", "label": "Email" },
                        { "value": "link", "label": "Other Link" }
                    ],
                    "default": "link"
                }
            ]
        },
    ],
    "presets": [
        {
            "name": "Top Bar",
            "blocks": [
                {
                    "type": "contact_item_with_icon"
                },
                {
                    "type": "contact_item_with_icon"
                }
            ]
        }
    ]
}
{% endschema %}
